		<!-- Header for non-logged in users -->
        <link rel="stylesheet" href="/css/header2.css">
        <div class="main-nav">
			<div class="navbar">
				<a class="title" href="/">Maker Tide</a>
				<div class="searchbar">
					<img class="searchimg" src="images/search.png" />
					<input
						type="search"
						name="search"
						id="search"
						placeholder="Search the website"
					/>
				</div>
				<a class="post" href="/post">Post a project</a> <!--Changed this to a route instead of a static page -->
				<a class="shop" href="/projects">Projects</a> <!--Changed this to a route instead of a static page -->
                <a class="login" href="login.html">Login</a>
				<a class="signup" href="signup.html">Sign Up</a>


			</div>
		</div>