		<!-- Header for logged in users -->
		<link rel="stylesheet" href="css/header2.css">
        <div class="main-nav">
			<div class="navbar">
				<a class="title" href="homepage.html">Maker Tide</a>
				<div class="searchbar">
					<img class="searchimg" src="images/search.png" />
					<input
						type="search"
						name="search"
						id="search"
						placeholder="Search the website"
					/>
				</div>
				<a class="post" href="/post">Post a project</a>
				<a class="shop" href="#">Shop</a>
				<div class="icons">
					<img class="messageimg" src="images/message.png" />
					<img class="notificationimg" src="images/notification.png" />
					<img class="cartimg" src="images/cart.png" />
				</div>
				<div class="userprofile">
					<div class="profname">
						<img class="userimg" src="images/user.png" />
						<p>Username</p>
						<img class="arrowimg" src="images/arrow.png" />
					</div>
					<div class="dropdown">
						<a href="#">View profile</a>
						<a href="#">My projects</a>
						<a href="#">Support</a>
						<a href="#">Logout</a>
					</div>
				</div>
			</div>
		</div>