/* CSS for both userheader and header ejs files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E3EFEF;
}

.main-nav {
    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 9px 35px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000
}

.navbar {
    width: 80vw;
    display: flex;
    align-items: center;
    height: 6vh;
    justify-content: space-between;
}

a.title {
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    color: #28AFB0;
}

a.shop,
a.post,
a.login,
a.signup {
    font-size: 12px;
    font-weight: bolder;
    color: #28AFB0;
    text-decoration: none;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

img.searchimg {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 3px;
}

input[type="search"] {
    width: 400px;
    height: 30px;
    outline: none;
    padding-left: 18px;
}

input::placeholder {
    font-size: 10px;
    color: B4B4B4;
    letter-spacing: 1px;
}

.messageimg,
.notificationimg,
.cartimg {
    width: 20px;
    height: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 90px;
    justify-content: space-between;
    align-items: center;
}

.userprofile {
    position: relative;
}

img.userimg {
    width: 25px;
    height: 25px;
}

img.arrowimg {
    width: 15px;
    height: 15px;
}

.profname {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.profname p {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
}

.dropdown {
    position: absolute;
    top: 4vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #E3EFEF;
    align-items: center;
    justify-content: center;
}

.dropdown a {
    height: 30px;
    font-size: 12px;
    width: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 6px;
}

.dropdown a:hover {
    background-color: #28AFB0;
    color: white;
}

.dropdown {
    display: none;
}

.dropdown.show {
    display: block;
}