* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E3EFEF;
}

/* Search Box */
.projects-search-box {
    width: 250px;
    padding: 16px;
    padding-top: 60px; 
    margin-top: 60px;
    border-right: 1px solid white;
    position: fixed;
    left: 0;
    top: 0;
    height: 80vh;
    background-color: white;
}

.search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

.category-filters label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}
/* Search Box */

/* Projects */
.projects-body {
    margin-left: 270px;
    /* leaves space for left sidebar */
    padding: 24px;
    padding-top: 60px;
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    height: 100vh;
    overflow-y: auto;
}

.project-card {
    aspect-ratio: 1 / 1;
    /* makes squares */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-content h4 {
    margin: 0 0 8px 0;
}

.project-content p {
    font-size: 0.9rem;
    color: #555;
}

.bid-button {
    margin-top: 12px;
    padding: 10px;
    width: 100%;

    border: none;
    border-radius: 8px;
    background-color: #28AFB0;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}
/* Projects */