<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="forgot_password.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="string_injection_block.js"> </script>
</head>
<body>
    <div class="navbar">
        <a href="index.html">Maker Tide</a>
    </div>
    <div class="big_container">
        <div class="container" id="container">
            <div class="form-container login">
                <form method="post">
                    <p class="head">RESET PASSWORD</p>
                    <div class="contents">
                        <input type="email" name="mail" id="mail" placeholder="E-mail" required>
                    <a href="#" class="lgn_btn">Send reset email</a>
                    <div class="login_redirect">
                        <span>Don't have an account? </span>
                        <a href="signup.html">Signup</a>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>