*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
} 
body{
    background-color: #E3EFEF;
}
.navbar{
    display: flex;
    align-items: center;
    height: 8vh;
}
.navbar a{
    padding-left: 125px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    color: #28AFB0;
}
.big_container{
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width:350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 0 10px 10px 0;
}
.contents{
    height: 180px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents > * {
    margin: 10px;
}
input[type="email"]{
    width: 300px;
    height: 30px;
    outline: none;
    padding-left: 11px;
}
input[type="password"]{
    width: 300px;
    height: 30px;
    outline: none;
    padding-left: 11px;
}
p.head{
    align-items: center;
    justify-content: center;
    display: flex;
    color: #28AFB0;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 15px;
}
input::placeholder{
    color: #AFAFAF;
    font-size: 11px;
    letter-spacing: 1px;
}
.lgn_btn{
    width: 300px;
    background-color: #28AFB0;
    color: white;
    border: none;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
.login_redirect{
    text-decoration: none;
    font-weight: 500;
}
.login_redirect a{
    color: #28AFB0;
}